<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product CRUD</title>
    <link rel="stylesheet" href="../../style/productCRUD.css">

    <script src="../../script/productScript/createProduct.js"></script>
    <script src="../../script/productScript/deleteProduct.js"></script>
    <script src="../../script/productScript/readProduct.js"></script>
    <script src="../../script/productScript/updateProduct.js"></script>
    
</head>
<body>
    <div class="container">
        <h2>Product Management System</h2>
        <button onclick="window.location.href='../customer/customerProfile.html'">Admin Profile</button>
        <button onclick="window.location.href='../home/index.html'">Home Page</button>
        
 
        <form id="productForm" onsubmit="event.preventDefault();">
            <input type="hidden" id="productId">
            <div>
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" required>
            </div>
            <div>
                <label for="productPrice">Product Price:</label>
                <input type="number" id="productPrice" step="0.01" required>
            </div>
            <div>
                <label for="productCategory">Product Category:</label>
                <input type="text" id="productCategory" required>
            </div>
            <div class="form-container">
                <label for="profileImage">Select Image</label>
                <input type="file" id="profileImage" accept="image/*" required>
                <button type="button" onclick="uploadImage()">Upload Image</button>
            </div>
            <div class="image-container">
                <img id="displayProfileImage" src="" alt="Profile Image"/>
                <label for="imageSize">Adjust Image Size</label>
                <input type="range" id="imageSize" min="50" max="300" value="150">
            </div>
            <button type="button" onclick="createProduct()">Create Product</button>
            <button type="button" id="updateButton" onclick="updateProduct(document.getElementById('productId').value)" style="display: none;">Update Product</button>
        </form>

        <hr>

     
        <h3>Product List</h3>
        <div id="productList">
            
        </div>

       
        <script src="../../script/productScript/productCRUD.js"></script>
    </div>
</body>
</html>