<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../style/userProfile.css">
    <script src="../../script/page/goToPage.js"></script>
    <script src="../../script/auth/user/displayCustomerProfile.js"></script>
</head>
<body>
    <div class="container">
        <h2>Customer Profile</h2>
        <label for="customerName">Name:</label>
        <p id="customerName">Customer Name</p>
        <label for="customerEmail">Email:</label>
        <p id="customerEmail">Customer Email</p>
        <button onclick="goToPage('/view/customer/customerCheckout.html')">Go to checkout</button>
        <button onclick="goToPage('/view/home/index.html')">Home Page</button>
    </div>
</body>
</html>